@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

nav
{
    background-color: #B0D0D3;
    /*padding: 0px 5px;*/
    border-right: 1px solid #bbb;
    opacity: 1;
}

nav > div > h1 {
    font-family: 'Courier New', monospace;
    font-size: 50px;
    font-weight: bolder;
    padding-bottom: 10px;
}

div > h1 {
    font-size: 30px;
}

nav > div {
    padding-top: 15px;
    padding-bottom: 15px;
}


nav > div > a {
    padding-right: 1.5em;
}

nav > div > ul
{
    margin: 0px;
    padding: 5px;
    text-decoration: none;
    list-style: none;
    font-size: 25px;
}

nav > div > ul > li
{
    display: inline-block;
    text-decoration: none;
    /*list-style: none;*/

}

nav > div > ul > li > a:hover
{
    background-color: rgba(255, 255, 255, 0.62);
    text-decoration: none;
}

nav > div > ul > li > a.selected
{
    background-color: #cFE0C3;

}

nav a
{
    display: block;
    padding: 10px;
    /*width: 100%;*/
    /*height: 100%;*/
    color: black;
    font-size: .85em;
    font-weight: 700;
    text-decoration: none;
}


li a:hover {
    background-color: #111;
}

body
{
    background: #d3dfe1;
}


.form{
    padding-top: 30px;
}

.grid-item {
    grid-row-start: auto;
}

.my-btn {
    background-color:#C08497;
}

.login-div {
    padding-top: 60px;
    padding-bottom: 60px;
}

.input-border {
    outline: none;
    border: 2px solid #B0D0D3;
    padding: 10px;
    box-shadow: 6px 4px #B0D0D3;
    height: 40px;
}

.input-border:focus {
    box-shadow: 0 0 8px 1px #F7AF9D;
    border-color: #F7AF9D;
    outline: none !important;
}

.image-control{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    height:100%;
    width:100%;
}

.row h1{
    font-size: 35px;
    font-family: 'Courier New', monospace;
    font-weight: bolder;
}

#page-id .nav-item{
    display: none;
    visibility: hidden;
}

.image-control:before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url("/img/background.png");
    background-position: 100% 0;
    background-size: cover;
}

.row{
    position: relative;
}


.space-below{
    padding-bottom: 20px;
}

.my-footer{
    padding-top: 20px;
}

.imgfit {
    width: 280px;
    height:310px;
    object-fit: cover;
    border-radius: 10px
}


.button-formatting{
    display: flex;
    position: center;
    justify-content: space-between;
    flex-direction: row;
    height: calc(50vh - 100px);
    padding-top: 30px;
}

.button-formatting > div {
    width: 30%;
    display: flex;
    position: relative;
    justify-content: stretch;
    /*align-items: stretch;*/
    background-color:#C08497 !important;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}

.button-formatting > div:hover {
    transform: scale(1.1);
}

a.main-button {
    display: inline-block;
    text-align: center;
    vertical-align: center;
    color:white;
    width: 100%;
    font-size:30px;
    text-decoration: none ;
    padding: 250px 0px;
    align-content: center;
    height: 100%;
    overflow: hidden
    /*position: absolute;*/
    /*bottom: 0;*/
}

/*.smaller-flex-item {*/
/*    align-self: center;*/
/*    align-items: center;*/
/*}*/

@keyframes bounce {
    0%, 20%, 60%, 100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    80% {
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

a.main-button:hover {
    animation: bounce 1s;

}


.sok-tile {
    text-align:center;
    display:inline-block;
    font-size:30px;
    color:white;
    background-color:#00a9de;
    width:100px;
    height:80px;
    line-height:80px;
    cursor:pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}

.grid{
    display: grid;
    grid-template-columns: auto auto;
}

.generic-card
{
    width: 100%;
    padding-bottom: 40px;
    border-radius: 8px;
    overflow: hidden;
}

.generic-cards
{
    flex-grow: 1;
    z-index: 1;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-gap: 1rem;
    width: 100%;

}


.generic-card img
{
    width: 100%;
    height: 65%;
    object-fit: cover;
    overflow: hidden;
    pointer-events: none;
}

.generic-card .fit-text
{
    width: 100%;
    min-height: 50px;
    margin-top: 15px;
    padding: 0 16px;
    pointer-events: none;
    text-align: center;
}
.fit-text .span {
    font-size: 40px;
}

.generic-card p
{
    margin-top: 24px;
    font-size: 20px;
    padding: 0 16px;
    pointer-events: none;
}
form .error {
    color: red;
}

.cuisine-btn{
    flex-grow: inherit;
    width:150px;
    height:fit-content;
    /*overflow: auto;*/
    border-radius: 3px;
    background-color: #e3dfdf;
    font-size: 15px;
    opacity: 0.4;
    align-content: center;
    margin: 2px
}

footer {
    text-align: center;
    bottom: 0;
    height: 60px;
}

#updateInfoIcon {
    background: url("/img/personal-information.png") no-repeat center;
    background-size: 50% 50%;
    background-position-y: 30%;
}

#favoritesIcon {
    background: url("/img/bookmark.png") no-repeat center;
    background-size: 45% 45%;
    background-position-y: 30%;
}

#matchIcon {
    background: url("/img/food-tray.png") no-repeat center;
    background-size: 45% 45%;
    background-position-y: 30%;
}





